.site-content {
  background-color: #fff;
  min-height: 85vh;
  padding: 25px;
}
.logo,
.logo .ant-typography {
  float: left;
  margin: 5px;
  color: white;
}
.title-case {
  text-transform: lowercase;
}
.title-case::first-letter {
  text-transform: uppercase;
}
.row-header {
  font-weight: bolder;
}

.row-item {
  border-bottom: 1px solid #eee;
  padding: 8px;
}
